
module custom-boot 1.0;

require {
	type loadkeys_t;
	class memprotect mmap_zero;
}

#============= loadkeys_t ==============
allow loadkeys_t self:memprotect mmap_zero;
